<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Property name="log_path">/log</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="false">
      <PatternLayout
          pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %M %-5level %logger{36} - %msg%n}{FATAL=Bright Red, ERROR=Bright Magenta, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White}"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="namugo.mlEventRankingList" level="error" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="error">
    </Root>
  </Loggers>
</Configuration>
